html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    base(href='/')
    title Effektiv Property - Make Peace with Real Estate
    link(rel='stylesheet', type='text/css', href='/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/bootstrap-social/bootstrap-social.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/style.css')
    style.
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
      }
    script(src='/vendor.js')
    script(src='/main.js')
    link(href='https://fonts.googleapis.com/css?family=Dosis:400,500,300,600,700,800,200', rel='stylesheet', type='text/css')
  body(ng-app='effektiv')
    navbar
    #main(ui-view='')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
