<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <base href="/" />
    <title>Effektiv Property - Make Peace with Real Estate</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/bootstrap-social/bootstrap-social.css" />
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/index.js"></script>
    <script src="https://js.stripe.com/v2/"></script>
    <script>
        Stripe.setPublishableKey('pk_test_zDVSAav2fMaeMXJZvucuNXkO');
    </script>
    
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-route/angular-route.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/angular-payments/lib/angular-payments.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <!--<script src="/socket.io-client/socket.io.js"></script>-->
    <script src="/d3/d3.js"></script>
    <script src="/main.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,500,300,600,700,800,200' rel='stylesheet' type='text/css'>
</head>

<body ng-app="effektiv">
    <navbar></navbar>
    <div id="main" ui-view></div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>
