.brokerChoose.Title{
	background-color: #0091ea;
	margin:0px;
	height: 20vh;
	color:white;
	text-align: center;
	vertical-align: middle;
	width:100vw;
}
.brokerChoose.Title.Text{
	height: 20vh;
	color:white;
	vertical-align: center;
	position:absolute;
	width:100vw;
}