<div class="col-xs-7 portfolio-profile">
    <div class="dash--container col-xs-12 col-md-2 selection-info" ng-class="!!buildingSelected ? 'col-md-4': 'col-md-2'">
<!--building-level desc-->
        <div class="prop-info" ng-class="!!buildingSelected && !apartmentSelected ? 'prop-info-delay fade-in-info' : ''" ng-style="{'transition': '.75s ease-in-out '+ (!!buildingSelected ? '.75s': '')}">
            <h3>Building Info</h3>
            <ul class="amenities">
                <li><i class="fa fa-map-marker"></i> <b>Address:</b> {{ buildingSelected.street_number | capitalize}} {{ buildingSelected.street_name | capitalize}}</li>
                <li><i class="fa fa-flag"></i> <b>City and State:</b> {{ buildingSelected.city | capitalize}}, {{ buildingSelected.state | capitalize}}</li>
                <li><i class="fa fa-fire"></i> <b>Heat Type:</b> {{ buildingSelected.heat_type | capitalize}}</li>
                <li><i class="fa fa-caret-square-o-up"></i> <b>Elevator:</b> {{ buildingSelected.elevator | capitalize}}</li>
                <li><i class="fa fa-key"></i> <b>Doorman:</b> {{ buildingSelected.doorman | capitalize}}</li>
                <li><i class="fa fa-male"></i> <b>Gym:</b> {{ buildingSelected.gym | capitalize}}</li>
                <li><i class="fa fa-map-o"></i> <b>Pool:</b> {{ buildingSelected.pool | capitalize}}</li>
                <li><i class="fa fa-car"></i> <b>Parking:</b> {{ buildingSelected.parking | capitalize}}</li>
                <li><i class="fa fa-users"></i> <b>Common Roof:</b> {{ buildingSelected.common_roof | capitalize}}</li>
                <li><i class="fa fa-female"></i> <b>Laundry:</b> {{ buildingSelected.laundry | capitalize}}</li>
                <li><i class="fa fa-paw"></i> <b>Pets Allowed:</b> {{ buildingSelected.pet_allowed | capitalize}}</li>
                <li><i class="fa fa-folder-open-o"></i> <b>Open:</b> {{ buildingSelected.open | capitalize}}</li>
            </ul>
        </div>
<!--apartment-level desc-->
        <div class="prop-info apt-info" ng-class="!!apartmentSelected ? 'prop-info-delay fade-in-info' : ''">
            <h3>Apartment info <span class="lock-container"><i
                ng-class="apartmentSelected.spinner? 'fa fa-spinner fa-pulse' : apartmentSelected.lockInfo.state==='lock'? 'fa fa-lock' : 'fa fa-unlock'"
                ng-click="apartmentSelected.lockInfo && lockAction(apartmentSelected)"></i></span></h3>
            <ul>
                <li class="{{iconMap[key]}}" ng-repeat="(key, value) in apartmentSelected | presentableVals">
                    {{key | capitalize}}:
                    {{value | capitalize}}
                </li>
            </ul>
            <h3>Lease Info</h3>
            <ul>
                <li ng-repeat="(key, value) in apartmentSelected.lease_ids[0] | presentableVals">
                    {{key | capitalize}}:
                    {{value | capitalize}}
                </li>
            </ul>
        </div>
    </div>
    <div class="dash--container col-xs-12 col-md-8" ng-if="!apartmentSelected">
        <ul>
            <li class="chart col-xs-12">
                <h2 class="chart--headline">{{leaseStatusData.pieChart.length ? currentAddress : 'No Buildings Added'}}</h2>
                <hollow-pie passed-data="leaseStatusData.pieChart" pie-id="'rentBurnDown'" show-this="!apartmentSelected && leaseStatusData.pieChart.length"></hollow-pie>
            </li>
            <li class="chart col-xs-12">
                <h2 class="chart--headline">{{leaseStatusData.renewalStatuses.length ? 'Current Renewals' : 'No Current Renewals'}}</h2>
                <hollow-pie passed-data="leaseStatusData.renewalStatuses" pie-id="'renewalStatuses'" show-this="!apartmentSelected && leaseStatusData.renewalStatuses.length"></hollow-pie>
            </li>
        </ul>
    </div>
    <apt-permissioning apartment-selected="apartmentSelected"></apt-permissioning>
</div>
