<div class="modal-buttons" ng-class="{'slide-in': loggedIn, 'modal-open': showModal}" ng-click="modalToggle()">
    <svg class="modal-icon" viewBox="0 0 9 9">
        <path fill="#fff" d="M4 0 h1 v4 h4 v1 h-4 v4 h-1 v-4 h-4 v-1 h4"></path>
    </svg>
</div>
<div class="modal-container" ng-class="showModal? 'modal-container-show' : 'modal-container-collapse'" ng-click="modalToggle()">
    <div class="modal-body" ng-click="$event.stopPropagation()">
        <div class="modal-header">
            <span class="modal-form-header">Add New Building/Apartment</span>
        </div>
        <div class="form floating-form floating-form-inverse">
            <div class="form-group">
                <label class="building-select-header" for="building-select">Select/Add Building</label>
                <select class="form-control" id="building-select" ng-model="addingType">  <!--ng-options="building.street_name for building in buildings"-->
                    <option value="addbuilding">Add New Building</option>
                    <option value="{{building._id}}" ng-repeat="building in buildings">{{building.street_number}} {{building.street_name}}</option>
                </select>
                <add-building class="" ng-if="addingType === 'addbuilding'"></add-building>
                <add-apartment ng-if="addingType && addingType !== 'addbuilding'"></add-apartment>
            </div>
        </div>
    </div>
</div>
