<div class="map-container">
  <div class="map logo-placeholder"></div>
</div>
<header ng-cloak
    class="dash-aside-header accordion-header"
    ng-class="!!buildingSelected ? 'clickable' : ''"
    ng-click="selectPortfolio()">
    Properties
    <i class="fa fa-chevron-up accordion-header-caret"></i>
</header>
<ul ng-cloak
    class="dash-aside-list accordion-list">
    <li class="accordion-list-building" ng-class="!building.open ? '' : 'active'" ng-repeat="building in buildings" ng-style="{'z-index': $index}">
        <header class="accordion-list-building-header" ng-click="selectBuilding(building)">
            <span class="accordion-list-building-header-text"> {{ building.street_number + ' ' + building.street_name }} </span>
            <i class="fa fa-chevron-down accordion-list-building-header-caret"></i>
        </header>
        <ul class="accordion-sublist-apartments accordion-collapse" ng-class="!building.open ? '' : 'accordion-collapse-show'">
            <li class="btn-apartment" ng-click="selectApartment(apartment)" ng-repeat="apartment in building.apartments">
                <span class="btn-apartment-inside">
                    {{ apartment.unit_number }}
                </span>
            </li>
        </ul>
    </li>
</ul>
