<div class="list-header">
    Properties
</div>
<div class="accordion-list">
    <accordion close-others="oneAtATime" id="dashboardAccordion">
        <accordion-group heading="{{ building.street_number + ' ' + building.street_name }}" is-disabled="status.isFirstDisabled" is-open="building.open" ng-repeat="building in buildings">
            <span class="btn-apartment" ng-click="selectApartment(apartment)" ng-repeat="apartment in building.apartments">
                <span class="btn-apartment-inside">
                    {{ apartment.unit_number }}
                </span>
            </span>
        </accordion-group>
    </accordion>
</div>
