.building-accordion {
    padding: 0;
    margin: 0;
    z-index: 1;
    
    .accordion-list-building,
    .accordion-list-building-header {
        margin: 0;
    }

    .accordion-list-building {
        border: none;
        background-color: $white;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        
        .accordion-list-building-header {
            
            // text-align: right;
            background-color: $aside-sect;
            color: white;
            padding: 10px 15px;
            border-top: 1px solid #ddd;
            width: 100%;
            font-size: 16px;
            cursor: pointer;
            overflow: auto;
            
            &:hover,
            &.active {
                background-color: $aside-sect-hover;
            }

            &-caret {
                float: right;
                top: 2px;
                position: relative;
                transition: 200ms ease;
            }

            &.active {
                .accordion-list-building-header-caret {
                    @include vend(transform, rotate(180deg));
                }
            }

            &-text {
                float: left;
            }
        }

        .accordion-sublist-apartments {
            text-align: center;
            padding: 0;
            background-color: $white;
            height: auto;
            
            .btn-apartment {
                background-color: #222;
                border-radius: 50%;
                cursor: pointer;
                display: inline-block;
                display: -webkit-inline-box;
                height: 35px;
                margin: 3px;
                position: relative;
                transition: 0.3s ease-in-out;
                width: 35px;
                
                &:hover {
                    background-color: #444;
                }

                .btn-apartment-inside {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    display: block;
                    transform: translate(-50%,-50%);
                    color: white;
                }
            }
        }

        .accordion-collapse {
            max-height: 0;
            overflow: hidden;
            position: relative;
        }
    }
}
