.dash-aside {
    height: 100%;
    padding: 0;

    &-list {
        overflow-y: auto;
    }
}

.dash-center {
    position: relative;
    padding: 20px 30px 0 30px;
    width: 7/12*100%;
    min-width: calc(9/12*100% - 260px);
    z-index: 0;
    overflow-y: auto;
    height: 100%;
}
