$list-header-height: 35px;

.dash-aside {
    height: 100%;
    box-shadow: 2px -1px 5px 0 rgba(0,0,0,.4);
    padding: 0;
    &-header {
        background-color: #801010;
        text-align: center;
        font-size: 25px;
        height: $list-header-height;
        color: white;
        font-weight: 200;
        font-family: $theme-font;
    }
    &-list {
        overflow-y: auto;
        height: calc(100% - #{$list-header-height});
    }
}

.dash-center {
    background-color: #fff;
    z-index: 0;
    overflow-y: auto;
    height: 100%;
}
