<section class="container" id="pledge">
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-body">
                <legend class="text-center"><img src="/images/54-lock@2x.png" style="height:18px;margin-right:10px;vertical-align:middle;margin-bottom:4px;">
                    Payment Method</legend>
                <div class="col-md-12">
                    <div class="card-types col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4">
                        <img src="/images/creditcards/visa-straight-128px.png" class="visa" ng-class="{active:(type==='visa')}" style="margin-left:0;">
                        <img src="/images/creditcards/mastercard-straight-128px.png" class="mastercard" ng-class="{active:(type==='mastercard')}">
                        <img src="/images/creditcards/american-express-straight-128px.png" class="american-express" ng-class="{active:(type==='amex')}">
                        <img src="/images/creditcards/discover-straight-128px.png" class="discover" ng-class="{active:(type==='discover')}">
                    </div>
                </div>
                <form name="form.pledge" class="col-md-12 col-sm-12">
                    <label class="col-md-4 col-sm-4 control-label top-label">Card Number</label>
                    <div class="col-md-8 col-sm-8">
                        <div ng-class="{'has-error has-feedback': (form.pledge.number.$touched || form.pledge.$submitted) &&
                        (form.pledge.number.$error.required || invalidNumber)}"
                             class="form-group has-feedback">
                            <input name="number" type="text" ng-model="number" class="form-control" id="number" placeholder="0000 0000 0000 0000" required payments-format="card" payments-validate="card" payments-type-model="type">
                            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="(form.pledge.number.$touched || form.pledge.$submitted) &&
                            (form.pledge.number.$error.required || invalidNumber)"></span>
                            <label class="control-label error-label" for="number">{{((form.pledge.number.$touched || form.pledge.$submitted) && (form.pledge.number.$error.required || invalidNumber)) ? "Enter a valid credit card number" : "&nbsp;"}}</label>
                        </div>
                    </div>
                    <label class="col-md-4 col-sm-4 control-label top-label">Card Number</label>
                    <div class="col-md-8 col-sm-8">
                        <div ng-class="{'has-error has-feedback': (form.pledge.number.$touched || form.pledge.$submitted) &&
                        (form.pledge.number.$error.required || invalidNumber)}"
                             class="form-group has-feedback">
                            <input name="number" type="text" ng-model="number" class="form-control" id="number" placeholder="0000 0000 0000 0000" required payments-format="card" payments-validate="card" payments-type-model="type">
                            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="(form.pledge.number.$touched || form.pledge.$submitted) &&
                            (form.pledge.number.$error.required || invalidNumber)"></span>
                            <label class="control-label error-label" for="number">{{((form.pledge.number.$touched || form.pledge.$submitted) && (form.pledge.number.$error.required || invalidNumber)) ? "Enter a valid credit card number" : "&nbsp;"}}</label>
                        </div>
                    </div>
                </form>
                {{form.pledge.number.$card}}
            </div>
        </div>
    </div>

</section>

