$notifications-toggle-list-height: 32px;
$notifications-toggle-list-margin: 10px;
$notifications-toggle-list-padding-top: 5px;
$notifications-toggle-list-border-width: 1px;

.notifications {
    &-toggle {
        height: $notifications-toggle-list-height;
        width: 100%;
        margin-top: $notifications-toggle-list-margin;
        padding-top: $notifications-toggle-list-padding-top;
        border-bottom: $notifications-toggle-list-border-width solid #EAEAEA;

        &-option {
            @include vend(transition, ((font-weight, border-bottom-width, padding-bottom) (.4s, .2s, .2s) (ease-in-out, ease-in-out, ease-in-out)));
            display: inline-block;
            height: 100%;
            width: 96px;
            padding: 0 10px;
            text-align: center;
            padding-bottom: 4px;
            border: solid 0px #EAEAEA;

            &:not(.active) {
                cursor: pointer;
            }

            &-text {
                font-weight: 500;
                font-size: 16px;
                position: relative;
            }

            &-count {
                position: absolute;
                top: -7px;
                right: -12px;
                height: 16px;
                font-size: 11px;
                font-weight: 600;
                padding: 0 4px;
                border-radius: 5px;
                color: $white;
                background-color: red;
            }

            &.active {
                .notifications-toggle-option-text {
                    font-weight: 900;
                }
                border-bottom-width: 4px;
            }
        }
    }

    &-list {
        height: calc(100% - #{$notifications-toggle-list-height} - #{$notifications-toggle-list-margin} - #{$notifications-toggle-list-padding-top} - #{$notifications-toggle-list-border-width});
        overflow-y: auto;
    }
}
