<ul class="notifications-toggle">
    <li class="notifications-toggle-option" ng-class="activeNotificationType === 'renewals' ? 'active' : ''" ng-click="activeNotificationType = 'renewals'">
        <span class="notifications-toggle-option-text"> Renewals
            <span class="notifications-toggle-option-count" ng-show="incompleteRenewalCount = (renewalNotifications | filter: {complete:false}).length">
                {{incompleteRenewalCount}}
            </span>
        </span>
    </li>
    <li class="notifications-toggle-option" ng-class="activeNotificationType === 'repairs' ? 'active' : ''" ng-click="activeNotificationType = 'repairs'">
        <span class="notifications-toggle-option-text"> Repairs
            <span class="notifications-toggle-option-count" ng-show="incompleteRepairCount = (repairNotifications | filter: {complete:false}).length">
                {{incompleteRepairCount}}
            </span>
        </span>
    </li>
</ul>
<ul class="dash-aside-list notifications-list" ng-if="activeNotificationType === 'renewals'" ng-cloak>
    <renewal-notification
      class="notification"
      notification="notification"
      complete-func="completeFunc(type, notification)"
      ng-repeat="notification in renewalNotifications | orderBy:['complete','-end_date']">
    </renewal-notification>
</ul>
<ul class="dash-aside-list notifications-list" ng-if="activeNotificationType === 'repairs'" ng-cloak>
    <repair-notification
      class="notification"
      notification="notification"
      complete-func="completeFunc(type, notification)"
      ng-repeat="notification in repairNotifications | orderBy:['complete','-end_date']" />
</ul>
