<ul class="notifications-toggle">
    <li class="notifications-toggle-option" ng-class="activeNotificationType === 'renewals' ? 'active' : ''" ng-click="activeNotificationType = 'renewals'">
        <span class="notifications-toggle-option-text"> Renewals
            <span class="notifications-toggle-option-count">
                {{requests.length}}
            </span>
        </span>
    </li>
    <li class="notifications-toggle-option" ng-class="activeNotificationType === 'repairs' ? 'active' : ''" ng-click="activeNotificationType = 'repairs'">
        <span class="notifications-toggle-option-text"> Repairs
            <span class="notifications-toggle-option-count">
                {{requests.length}}
            </span>
        </span>
    </li>
</ul>
<div ng-cloak
    class="dash-aside-list notifications-list">
    <lock-request requests="requests" accept="onAccept()" job="request.job" name="request.name" ng-repeat="request in requests" where="request.where"></lock-request>
</div>
