.dash-container {
    height: auto;
    padding: 0px 15px 15px 15px;
    margin: 0 30px 30px 30px;
    position: relative;
    box-shadow: 2px 2px 16px 0 rgba(0, 0, 0, 0.3);
    background-color: $white;

    &.d3-container {
        width: calc(100% - 60px); //guess I need to do this for margin...
    }

    .prop-info {
        padding: 0;
        position: relative;

        // &-head {
        //
        // }

        &-list {
            padding: 3px;

            &-item {
                margin-right: 10px;
                padding: 10px 2px 10px 0;

                & + .prop-info-list-item {
                    border-top: 1px solid #000;
                }
            }
        }
    }
}
