.dash-container {
    height: 100%;
    transition: all 0.75s ease-in-out;
    overflow: hidden;

    ul {
        height: 100%;

        .chart {
            padding: 0;
            min-height: 255px;
            height: 46%;

            //height: calc(50vh - 25px);
            padding: 0;

            svg:not(:root) {
                overflow: visible;
            }

            .pieChart--detailedInformation > g {
                background-color: #fff;
            }
        }
    }

    &.ng-enter {
        transition: all 0.5s ease-in-out;
        opacity: 0;
    }

    &.ng-enter.ng-enter-active {
        opacity: 1;
    }

    &.ng-leave,
    &.apartment-info.ng-enter {
        transition: all 0.5s ease-in-out;
        opacity: 1;
    }

    &.ng-leave.ng-leave-active,
    &.apartment-info.ng-enter.ng-enter-active {
        opacity: 0;
    }
}
