<nav class="effektiv-nav navbar navbar-inverse navbar-fixed-top" xmlns="http://www.w3.org/1999/html">
    <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a ng-href="/">
          <span class="navbar-brand">Effektiv<span class="navbar-brand-bolded">Property</span></span>
        </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
        <div class="input-group nav navbar-nav navbar-form navbar-left navbar-search-form" role="search">
            <span class="input-group-btn navbar-search">
                <button class="btn btn-default navbar-search" type="submit">
                    <i ng-class="loading? 'fa fa-spinner fa-pulse' : 'glyphicon glyphicon-search'"></i>
                </button>
            </span>
            <input class="form-control navbar-search" id="srch-term" name="srch-term" ng-change="runSearch()" ng-model="search" placeholder="Search Name" type="text">
        </div>
        <ul class="nav navbar-nav navbar-right">

            <li>
                <a class="nav-buttons" ng-click="collapseNav()" ng-href="/lockitron-redirect?state=login" ng-show="!user" target="_self">LOG IN</a>
            </li>

            <li>
                <a class="nav-buttons" ng-click="collapseNav()" ng-href="https://lockitron.com/account/register" ng-show="!user">SIGN UP</a>
            </li>

            <li>
                <a class="nav-buttons" href="#" ng-click="logout(); collapseNav()" ng-show="user">LOG OUT</a>
            </li>

            <li>
                <a class="nav-buttons" href="#" ng-class="{'user-photo-link': user && user.photo}" ng-show="user" ui-sref="user-account">
                    <i ng-class="user && user.photo ? 'nav user-photo' : 'fa fa-cog'" ng-style="{'background-image': user && user.photo? 'url(' + user.photo + ')' : ''}"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
<!-- <div class="search-results" ng-show="searchResults[0] && search">
        <ul class="list-unstyled">
            <a class="search-result" href="/campaign/{{searchResult._id}}" ng-click="collapseSearch()" ng-repeat="searchResult in searchResults | limitTo: 5">
                <li class="search-result">
                    {{searchResult.firstName}}
                    {{searchResult.lastName}}
                </li>
            </a>
        </ul>
    </div> -->
