<div class="dash--container col-xs-12 col-md-8 apartment-info" ng-if="apartmentSelected">
    <ul>
        <li class="col-xs-12 entrant-form-container">
            <h2 class="entrant-form-head">Permit Entrant</h2><h2 ng-show="!entrant.role.length && !entrantForm.$valid && entrant.submitted" class="entrant-error">Error</h2>
            <form class="col-xs-12 floating-form" id="entrant-form" name="entrantForm" ng-submit="entrant.role.length && entrantForm.$valid && addEntrant(entrant)" novalidate>
                <div class="form-group">
                    <input class="form-control" id="email" name="email" ng-model="entrant.email" placeholder="Enter email" required type="email">
                </div>
                <div class="form-group">
                    <input class="form-control" id="check-email" name="checkEmail" ng-pattern="entrantForm.email.$viewValue" placeholder="Re-enter email" required type="email">
                </div>
                <div class="form-group">
                    <select class="form-control entrant-select" ng-model="entrant.role" id="building-select">  <!--ng-options="building.street_name for building in buildings"-->
                        <option value="">Select Role</option>
                        <option value="guest">Guest</option>
                        <option value="admin">Admin</option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" name="start" ng-model="entrant.start_date" placeholder="Start" required type="date"/>
                </div>
                <div class="form-group">
                    <input class="form-control" name="expiry" ng-model="entrant.expiration_date" placeholder="Expiration" required type="date"/>
                </div>
                <button class="btn btn-default login-btn" ng-click="entrant.submitted=true" type="submit">Submit</button>
            </form>
        </li>
        <h2 class="col-xs-12 existing-entrant-head" ng-if="apartmentSelected.permitted_entrants.length">Existing Entrants</h2>
        <li class="col-xs-12 existing-entrant-container">
            <div class="col-xs-12 existing-entrant" ng-repeat="existingEntrant in apartmentSelected.permitted_entrants">
                <h4 class="entrant-header">{{existingEntrant.email}} - {{existingEntrant.role | capitalize}} <span ng-click="removeEntrant(existingEntrant)"><i class="glyphicon glyphicon-remove"></i></span></h4>
                <span>{{existingEntrant.start_date | dateSlashes}} - {{existingEntrant.expiration_date | dateSlashes}}</span>
            </div>
        </li>
    </ul>
</div>
