/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
div .marketing {
  padding-top: 40px;
  padding-bottom: 40px;
}

spotlight {

  img {
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  .spotlight {
    margin-top: 40px;
  }

  li {
    font-size: 13px;
    display: inline-block;
    padding-right: 10px;
    border-right: 1px solid #e4e4e4;
    margin-right: 10px;
    float: left;

    &:last-child {
      padding-right: 0;
      border-right: none;
      margin-right: 0; }

  }

  p {
    &.spotlight-blurb {
      line-height: 2.5ex;
      height: 14.5ex;
    }
  }


  ul {
    list-style: none;
    padding: 0px;
  }


  .btn-outline {
    background: none;
    color: #4cae4c;
  }

}
