<header class="chart_headline col-xs-12">{{pieData.pieChart.length ? address : 'No Buildings Added'}}</header>
<header class="chart_sub_headline col-md-6 col-xs-12">Renewal Status</header>
<header class="chart_sub_headline col-md-6 col-xs-12">Lease Timeline</header>
<div class="chart col-md-6 col-xs-12">
    <hollow-pie
        ng-if="!!pieData.renewalStatuses.length"
        pie-id="'renewalStatuses'"
        passed-data="pieData.renewalStatuses"></hollow-pie>
</div>
<div class="chart col-md-6 col-xs-12">
    <hollow-pie
        ng-if="!!pieData.pieChart.length"
        pie-id="'rentBurnDown'"
        passed-data="pieData.pieChart"></hollow-pie>
</div>
