.chart_headline,
.chart_sub_headline {
    text-align: center;
    position: relative;
    margin-top: 0;
    font-weight: 100;
    color: #444;
}

.chart_headline {
    padding: 1em;
    padding-top: 15px;
    font-size: 28px;
}

.chart_sub_headline {
    padding: 0 0 0 20px;
    font-size: 18px;
}

.chart {
    padding: 0 0 0 20px;
    
    svg:not(:root) {
        overflow: visible;
    }
}
