.chart {
    padding: 0 0 0 20px;
    min-height: 255px;
    height: 50%;
    
    .chart_headline {
        text-align: center;
        position: relative;
        margin-top: 0;
        padding: 1em;
        padding-top: 15px;
        font-weight: 100;
        font-size: 28px;
        color: #444;
    }

    svg:not(:root) {
        overflow: visible;
    }
}
