/*this styling sheet is for the renewal start page as well as the renewal apartmenr directive*/

input.newRent{
	width:75px;
}
div.apartmentName {
	display: inline;
}

button.addRenewal{
	display: block;
}

